* {
  font-family: 'GT Walsheim Pro', sans-serif;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #080808;
  color: #fff;
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (min-width: 600px) {
  html, body {
    font-size: 14px;
  }
}
@media(min-width: 1000px) {
  html, body {
    font-size: 17px;
  }
}