---
import Layout from "@/layouts/Layout.astro";

---

<Layout>
    <div>
        <img transition:name="img" src={"https://leularia.vercel.app/projects/ahun.jpg"} class="scale mb-3 transition-all duration-200 group-hover:scale-[1.02]" alt="">
        <h1 transition:name="aria" class="hero-text text-3xl lg:text-5xl tracking-tighter font-[300]">
            leul aria
        </h1>
    </div>
</Layout>