---
import SocialLinks from "./SocialLinks.astro";
  const footerNavs = [
    {
      href: 'javascript:void()',
      name: 'About'
    },
    {
      href: 'javascript:void()',
      name: 'Blog'
    },
    {
      href: 'javascript:void()',
      name: ''
    },
    {
      href: 'javascript:void()',
      name: 'Team'
    },
    {
      href: 'javascript:void()',
      name: 'Careers'
    },

    {
      href: 'javascript:void()',
      name: 'Suuport'
    }
  ];
---

<footer class="text-neutral-200 px-4 py-5 w-full mx-auto max-w-4xl">
    <!-- <div class="max-w-lg sm:mx-auto sm:text-center">
      <img src="https://www.floatui.com/logo.svg" class="w-32 sm:mx-auto" />
      <p class="leading-relaxed mt-2 text-[15px]">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
    </div> -->
    <ul class="items-center justify-center mt-8 space-y-5 sm:flex sm:space-x-4 sm:space-y-0">
      <li v-for="item in footerNavs" :key="item.id" class="hover:text-gray-800">
        <a href="{{item.href}}">
          <!-- {{item.name}} -->
        </a>
      </li>
    </ul>
    <div class="mt-8 items-center justify-between sm:flex">
      <div class="mt-4 sm:mt-0">
        &copy; { new Date().getFullYear()} LeulAria * Made by Astro * All rights reserved.
      </div>
      <div class="mt-6 sm:mt-0">
        <SocialLinks />
      </div>
    </div>
</footer>

<style scoped>
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}
</style>