---
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<ul role="list" class="flex flex-row gap-2 space-x-3">
  <!-- {
    presentation.socials.map((social, index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} />
        </li>

        {presentation.socials.length - 1 !== index && <li>/</li>}
      </>
    ))
  } -->

  <li class="group cursor-pointer flex flex-col items-center">
    <svg width="30" height="30" class="text-gray-300 group-hover:text-white" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path>
      <path d="M14.333 19v-1.863c.025-.31-.018-.62-.126-.913a2.18 2.18 0 0 0-.5-.781c2.093-.227 4.293-1 4.293-4.544a3.48 3.48 0 0 0-1-2.434 3.211 3.211 0 0 0-.06-2.448s-.787-.227-2.607.961a9.153 9.153 0 0 0-4.666 0c-1.82-1.188-2.607-.96-2.607-.96A3.211 3.211 0 0 0 7 8.464a3.482 3.482 0 0 0-1 2.453c0 3.519 2.2 4.291 4.293 4.544a2.18 2.18 0 0 0-.496.773 2.134 2.134 0 0 0-.13.902V19"></path>
      <path d="M9.667 17.705c-2 .632-3.667 0-4.667-1.947"></path>
      </svg>
  </li>
  <li class="group cursor-pointer flex flex-col items-center">
      <svg width="30" height="30" class="text-gray-300 group-hover:text-white" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 12V4.5H2v15h10"></path>
        <path d="M22 17h-7"></path>
        <path d="M17.5 14.5 15 17l2.5 2.5"></path>
        <path d="M2 4.5 12 12l10-7.5"></path>
        </svg>
  </li>

  <li class="group cursor-pointer flex flex-col items-center">
    <svg width="30" class="text-gray-300 group-hover:text-white" height="30" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5Z"></path>
      <path d="M7 17v-7"></path>
      <path d="M11 13.75c0-3.75 6-3.75 6 0V17"></path>
      <path d="M7 7.011 7.01 7"></path>
      <path d="M11 17v-7"></path>
    </svg>
  </li>

</ul>
