@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk' "Inter", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', "Inter", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
}

@layer components {
  /* scroll bar */
  *::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-[#313030] rounded-[5px] cursor-pointer scale-125;
  }
  *::-webkit-scrollbar-track {
    @apply bg-[#080808];
  }
}

.font-body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  /* height: 100vh; */
  z-index: 0;
  background: radial-gradient(
      circle at 12% 55%,
      rgba(53, 140, 211, 0.226),
      hsla(0, 0%, 100%, 0) 25%
    ),
    radial-gradient(
      circle at 85% 33%,
      rgba(108, 99, 255, .175),
      hsla(0, 0%, 100%, 0) 25%
    );
}

.hero__bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  /* height: 100vh; */
  z-index: 0;
  background: radial-gradient(
      circle at 12% 55%,
      rgba(53, 140, 211, 0.11),
      hsla(0, 0%, 100%, 0) 25%
    ),
    radial-gradient(
      circle at 85% 33%,
      rgba(159, 156, 224, 0.175),
      hsla(0, 0%, 100%, 0) 25%
    );
}
